---
import Layout from "../layout/Layout.astro";
---

<h1>Yoky Blog</h1>

<Layout title="Home" description="Bienvenidos mi blog">
  <h1 class="text-blue-600 divide-amber-700">miau</h1>
  <h2 slot="footer">Esto dentro de footer</h2>
</Layout>

