---
import Title from "../components/atoms/Title.astro";
import Layout from "../layout/Layout.astro";
---

<h1>Yoky Blog</h1>

<Layout title="Home" description="Bienvenidos mi blog">
  <main class="flex flex.col w-full justify-center items-center h-screen">
    <Title as="h1" class="text-center text-red-500">Hola mundo</Title>
  </main>
</Layout>
