---
import Layout from "../layout/Layout.astro";
---

<h1>Yoky Blog</h1>

<Layout title="Home" description="Bienvenidos mi blog">
  <h1></h1>
  <h2 slot="footer">Esto dentro de footer</h2>
</Layout>

<style is:global>
  h1 {
    color: rebeccapurple;
    font-size: 2rem;
    font-weight: 700;
    font-family: monospace;
  }
</style>
