---
import BaseHead from "../components/BaseHead.astro"
const { title, description, image='/images/a1.jpg' } = Astro.props;
---

<html lang="en">
  <head>
<BaseHead title= {title} description={description} image={image}/>
  </head>

  <body>
    <slot />

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
